* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--brightFontColor);
  --firstColor: #1d1d1d;
  --secondaryColor: #212121;
  --tertiaryColor: #242424;
  --quaternaryColor: #272727;
  --quinaryColor: #2c2c2c;
  --senaryColor: #2d2d2d;
  --brightFontColor: rgb(168, 168, 168);
  --darkFontColor: rgb(30, 30, 30);
  --mainAccentColor: #e36ef8;
  --secondaryAccentColor: #d744f1;
  --mainNegative: rgb(230, 20, 20);
  --secondaryNegative: rgb(170, 20, 20);
  --roundedXL: 25px;/* buttons and inputs */
  --roundedM: 12px;/* components */
  --transition-speed: 600ms;
  --transition-speedFast: 300ms;
  --shadow: drop-shadow(0px 0px 12px #000);
  gap: 0px;
}

body {
  background-color: #111111;
}
svg {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  stroke: var(--brightFontColor);
  fill: var(--brightFontColor);
}

.hidden {
  display: none !important;
}

.popUp {
  position: absolute;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 50%);
  width: 100vw;
  height: 100vh;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.registerForm {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  filter: drop-shadow(0px 0px 0.5rem #000);
  padding: 0.75rem;
  background-color: var(--firstColor);
  border-radius: var(--roundedXL);
}

.registerForm > .input {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 3.5rem;
  margin: 1rem;
  border-radius: var(--roundedM);
  border-width: 1px;
  border-style: solid;
  border-color: var(--brightFontColor);
  color: var(--brightFontColor);
  background-color: var(--firstColor);
}

.registerForm > .input > input {
  border: none;
  outline: none;
  width: 90%;
  float: right;
  font-size: 1.5rem;
  color: var(--brightFontColor);
  background-color: var(--firstColor);
}

.registerForm > .input > input:hover {
  outline: none;
  color: var(--brightFontColor);
  font-size: 1.5rem;
  background-color: var(--firstColor);
}

.registerForm > .input > input:focus {
  outline: none;
  color: var(--brightFontColor);
  font-size: 1.5rem;
  background-color: var(--firstColor);
}

.registerForm > input[type='submit'] {
  background-color: var(--mainAccentColor);
  border-style: none;
  width: 70%;
  height: 3.5rem;
  border-radius: var(--roundedM);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.registerForm > input[type='submit']:hover {
  background-color: var(--secondaryAccentColor);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

h1 {
  font-size: 3rem;
}

.cancel {
  background-color: var(--mainNegative);
  border-style: none;
  width: 35%;
  height: 2.5rem;
  border-radius: var(--roundedM);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.cancel:hover {
  background-color: var(--secondaryNegative);
}

table {
  width: 90%;
  height: fit-content;
  border-spacing: 0px;
  border-radius: var(--roundedXL);
  border-collapse: none;
}

thead {
  background-color: var(--firstColor);
}

tbody {
  background-color: var(--secondaryColor);
}

th {
  font-size: 1.4rem;
  color: var(--mainAccentColor);
}

th,
td {
  text-align: center;
  width: 25%;
  padding: 0.6rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--roundedXL);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--roundedXL);
}

table tr:first-child th:first-child {
  border-top-left-radius: var(--roundedXL);
}

table tr:first-child th:last-child {
  border-top-right-radius: var(--roundedXL);
}

.add {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--mainAccentColor);
  border-style: none;
  width: 12rem;
  height: 3rem;
  border-bottom-right-radius: var(--roundedXL);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.add:hover {
  background-color: var(--secondaryAccentColor);
}

.positive {
  background-color: var(--mainAccentColor);
  border-style: none;
  width: 70%;
  height: 3.5rem;
  border-radius: var(--roundedM);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.positive:hover {
  background-color: var(--secondaryAccentColor);
}

#search {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  color: var(--brightFontColor);
  background-color: var(--firstColor);
  text-align: center;
}

#search:hover {
  outline: none;
  color: var(--brightFontColor);
  font-size: 1.5rem;
  background-color: var(--firstColor);
}

#search:focus {
  outline: none;
  color: var(--brightFontColor);
  font-size: 1.5rem;
  background-color: var(--firstColor);
}

.search {
  display: flex;
  align-items: center;
  width: 70%;
  height: 3.5rem;
  margin: 1rem;
  border-radius: var(--roundedM);
  border-width: 1px;
  border-color: var(--brightFontColor);
  color: var(--brightFontColor);
  background-color: var(--firstColor);
  filter: drop-shadow(0px 0px 0.5rem #000);
}

.positiveSmall {
  background-color: var(--mainAccentColor);
  border-style: none;
  width: 70%;
  height: 2rem;
  border-radius: var(--roundedM);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
  width: fit-content;
}

.positiveSmall:hover {
  background-color: var(--secondaryAccentColor);
}

.negativeSmall {
  background-color: var(--mainNegative);
  border-style: none;
  width: 35%;
  height: 2rem;
  border-radius: var(--roundedM);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.negativeSmall:hover {
  background-color: var(--secondaryNegative);
}

/*Tu jest nasz nowy dom*/

.headerSpacing {
  min-width: 5rem;
  height: 100vh;
}






nav{
  width: 3rem;
  z-index: 10000;
  filter: var(--shadow);
  position: fixed;
}


.navbar {

  background-color: var(--firstColor);
  transition: width 600ms ease;
  overflow: auto;
  overflow-x: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--brightFontColor);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--secondaryColor);
  color: var(--mainAccentColor);
}


.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--mainAccentColor);
}

.fa-secondary {
  color: var(--secondaryAccentColor);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--mainAccentColor);
  background: var(--secondaryColor);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}


.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}


.navbar:hover .logo svg {
  transform: rotate(-180deg);
}




main {
  width: 100vw;
  height: 100vh;
 overflow-y: auto;

}
body{
  display: flex;
}







.quizStart {
  height: 100vh;
}

.quizStart > .header > * {
  margin-bottom: 1.5rem;
}
.quizStart > .header > .start {
  background-color: var(--mainAccentColor);
  border-style: none;
  width: 40%;
  height: 3.5rem;
  border-radius: var(--roundedM);
  font-size: 2rem;
  font-weight: bold;
  color: var(--firstColor);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.quizStart > .header > .start:hover {
  background-color: var(--secondaryAccentColor);
}

.quizStart > .header > h1 {
  text-align: center;
}

.quizStart > .information {
  height: 60%;
  width: 90%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.quizStart > .information > .leaderboard, .userAttempts {
  height: 95%;
  width: 50%;
  border-radius: var(--roundedXL);
  background-color: var(--secondaryColor);
}

.quizStart > .information > .leaderboard {
  margin-right: 5rem;
}







.quiz {
  height: 100vh;
  justify-content: normal;
  overflow: hidden;
}

.quiz > .question {
  padding: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  min-width: 20%;
  max-width: 60%;
  min-height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: var(--roundedXL);
  background-color: var(--firstColor);
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1.35s;
}

.quiz > .question > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.quiz > .question > p {
  font-size: 90%;
  color: var(--brightFontColor);
}

.quiz > .answers {
  margin-top: 4rem;
  height: 55%;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.quiz > .answers > * {
  --margin: 2rem;
  margin-bottom: var(--margin);
  margin-left: calc(var(--margin) / 2);
  height: calc(100% - var(--margin));
  width: calc(100% - var(--margin));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  border-radius: var(--roundedXL);
  background-color: var(--mainAccentColor);
  font-weight: bold;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  cursor: pointer;
  border-style: none;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.quiz > .answers > * > p {
  color: var(--darkFontColor);
}

.quiz > .answers > *:hover {
  background-color: var(--secondaryAccentColor);
}

.quiz > .answers > .ans1 {
  grid-area: 1 / 1 / 2 / 2;
  animation-delay: 1.4s;
}

.quiz > .answers > .ans2 {
  grid-area: 1 / 2 / 2 / 2;
  animation-delay: 1.45s;
}

.quiz > .answers > .ans3 {
  grid-area: 2 / 1 / 3 / 2;
  animation-delay: 1.5s;
}

.quiz > .answers >  .ans4 {
  grid-area: 2 / 2 / 3 / 3;
  animation-delay: 1.55s;
}

.quiz > .summary {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.quiz > .summary > .header {
  padding: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none;
  min-width: 80%;
  max-width: 60%;
  min-height: min-content;
  font-size: 2rem;
  font-weight: bold;
  border-radius: var(--roundedXL);
  background-color: var(--firstColor);
}

.quiz > .summary > .header > h1 {
  font-size: 5rem;
}

.quiz > .summary > .header > .redBar {
  position: relative;
  margin-top: 1rem;
  background-color: red;
  height: 2rem;
  width: 90%;
  border-radius: var(--roundedM);
  overflow: hidden;
}

.quiz > .summary > .header > .redBar > p {
  left: 45%;
  top: -5%;
  position: absolute;
}

.quiz > .summary > .header > .redBar > .greenBar {
  background-color: green;
  height: 100%;
  width: 80%;
}

.quiz > .summary > .questions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none;
  min-width: 80%;
  max-width: 60%;
  min-height: 5rem;
}

.quiz > .summary > .questions > .question {
  margin-top: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none;
  min-width: 100%;
  min-height: 5rem;
  font-weight: bold;
  border-radius: var(--roundedXL);
  background-color: var(--firstColor);
}

.quiz > .summary > .questions > .question > .answerSum {
  margin-top: 1rem;;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.quiz > .summary > .questions > .question > .answerSum > * {
  --margin: 2rem;
  margin-bottom: var(--margin);
  margin-left: calc(var(--margin) / 2);
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  border-radius: var(--roundedXL);
  background-color: var(--mainAccentColor);
  font-weight: bold;
}

.quiz > .summary > .questions > .question > .answerSum > *:first-child {
  margin-left: 0;
}

.quiz > .summary > .questions > .question > .answerSum > * > p {
  color: var(--darkFontColor);
}

.fullscreenImage{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 50%);
  
  
}
#oneImage{
  width: auto;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}
#oneImage > img{
  width: auto;
  height: 80vh;
  border-top-left-radius: var(--roundedXL);
  border-top-right-radius: var(--roundedXL);
}
#oneImage > span{
  background-color: var(--tertiaryColor);
  width: 100%;
  height: fit-content;
display: block;
overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 2.5rem;
  text-align:center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: var(--roundedXL);
  border-bottom-right-radius: var(--roundedXL);

  
  
}
.closePopUp{
  width: 3rem;
  height: 3rem;
  position:absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000000000;
  cursor: pointer;
}
.obrazek
{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
 width: 32.5rem;
 height: 16rem;
 transition-duration: var(--transition-speed);
 filter: var(--shadow);

}
.obrazek:hover
{
 width: 35.2rem;
 height: 17.6rem;
 padding: 0rem;

margin-left: 0.4rem;
cursor: pointer;


}
.obrazek:hover span{
  font-size: 2.2rem;
}
.obrazek>img{
  width: inherit;
  height: inherit;
  object-fit:cover;
  border-top-left-radius: var(--roundedM);
  border-top-right-radius: var(--roundedM);
  object-position: top;
}
.obrazek>span{
  background-color: var(--firstColor);
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: var(--roundedM);
  border-bottom-right-radius: var(--roundedM);
  transition-duration: var(--transition-speed);
}
.galleryGrid{

  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  grid-auto-rows: 22rem;

  justify-content: center ;
  margin-bottom: 5rem;
}



@keyframes slideToLeft {
  0% {
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(-100vw);
  }
  50.1% {
    transform: translate(140vw);
  }
  100% {
    transform: translate(0vw);
  }
}

@keyframes idle { 100% {}}



/* Small screens */
@media only screen and (max-width: 900px) {
  .headerSpacing{
    display: none;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }


  .quizStart {
    height: fit-content;
    justify-content: normal;
    padding-bottom: 6rem;
  }

  .quizStart > .information {
    flex-direction: column;
  }

  .quizStart > .information > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .quizStart > .header > .start {
    min-width: 18rem;
  }

  .quizStart > .information > .leaderboard, .userAttempts {
    height: 500px;
    width: 100%;
  }

  .quiz {
    justify-content: normal;
    padding-bottom: 6rem;
  }

  .quiz > .question {
    min-height: fit-content;
    margin-top: 1rem;
  }

  .quiz > .question > h1 {
    font-size: 2rem;
  }

  .quiz > .question > p {
    font-size: 60%;
  }

  .quiz > .answers {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .quiz > .answers > * {
    --margin: 1rem;
    font-size: 1.5rem;
  }

  .quiz > .answers > .ans1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .quiz > .answers > .ans2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .quiz > .answers > .ans3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .quiz > .answers > .ans4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
  .obrazek
{
  padding: 2rem;
 width: 28rem;
 height: 14rem;
 transition-duration: var(--transition-speed);
 filter: var(--shadow);

}
.obrazek:hover
{
 width: 30.8rem;
 height: 15.4rem;
 padding: 0rem;
cursor: pointer;


}
.obrazek:hover span{
  font-size: 2.2rem;
}
.galleryGrid{
width: 100vw;
grid-template-columns: auto;
  justify-content: center ;
  margin-bottom: 5rem;
}
}

/* Large screens */
@media only screen and (min-width: 900px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}